// Default colors
$white: #ffffff
$green: #00c8b3
$disabled: #dddcdc

$inputFontColor: #efeeed
$inputFocusColor: #333333
$inputBorderColor: #efeeed

$inputInvalidFontColor: #eb4a46
$inputInvalidBorderColor: #eb4a46

$buttonDisabledColor: #dddcdc
$buttonDisabledBg: #f6f6f6